*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
html {
  width: 100vw;
  -webkit-font-smoothing: antialiased;
}

body {
  overflow: hidden;
  background: #FFF;
  margin: 0;
  padding: 0;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-size: .875em;
  line-height: 1.5;
  user-select: none;
}

a {
  color: #000;
  text-decoration: none;
}

@font-face {
  font-family: "Produkt";
  src: url(../webfonts/Produkt-Bold-Web.woff2) format("woff2"), url(../webfonts/Produkt-Bold-Web.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-display: swap
}

@font-face {
  font-family: "Produkt";
  src: url(../webfonts/Produkt-Light-Web.woff2) format("woff2"), url(../webfonts/Produkt-Light-Web.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-display: swap
}

@font-face {
  font-family: "Graphik";
  src: url(../webfonts/Graphik-Semibold-Web.woff2) format("woff2"), url(../webfonts/Graphik-Semibold-Web.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-display: swap
}

@font-face {
  font-family: "Graphik";
  src: url(../webfonts/Graphik-Regular-Web.woff2) format("woff2"), url(../webfonts/Graphik-Regular-Web.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: swap
}

.clear {
  clear: both;
}

.swipe {
  overflow: hidden;
  position: relative;
}

.swipe-wrap {
  overflow: hidden;
  position: relative;
}

.swipe-wrap>div {
  float: left;
  width: 100%;
  position: relative;
}

.img-rounded {
  border-radius: 6px;
}

.extended-media {
  padding: 20px;
  max-width: 350px;
  max-height: 200px;
}

.tw {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: arial;
  font-size: 1em;
  background-color: #fff;
  width: 90%;

  .post {
    display: flex;
    flex-direction: column;
    padding: 20px;

    .left__block {
      vertical-align: top;
      width: 70%;
    }

    .left__block h2 {
      width: 75%;
    }

    .left__block .price {
      font-family: Produkt, Arial, Helvetica, sans-serif;
      font-size: 2.28571rem;
      font-weight: 700;
      color: #ff4947;
      -webkit-font-smoothing: antialiased;
    }

    .left__block .price .price-fraction {
      font-size: 50%;
      vertical-align: 50%;
    }

    .left {
      margin-bottom: 1em;
    }

    h1 {
      color: #333333;
      display: inline-block;
      font-size: 2em;
      font-weight: bold;
      margin: 0;
    }

    h2 {
      font-family: Produkt, Arial, Helvetica, sans-serif;
      font-weight: 700;
      color: #333333;
      display: inline-block;
      font-size: 1.42857rem;
      margin: 0;
      line-height: 1.25;
    }

    h2.clamp {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    .sub-title {
      display: block;
      width: 100%;
      font-family: Graphik, Arial, Helvetica, sans-serif;
      font-size: 1.14286rem;
      font-weight: 400;
      line-height: 1.5;
    }

    .account {
      display: flex;
    }

    .name {

      .at {
        color: #999999;
        font-size: 1.275em;
        display: block;
      }
    }

    .follow {
      display: none;
    }

    .message {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #333335;
      font-size: 2em;
      margin: 15px 0 10px 0;
      line-height: 110%;

      a {
        color: #1b95e0;
        text-decoration: none;
      }

      .link {
        color: #0084b4;
      }
    }

    .options {
      padding: 0;
      margin: 0;
      overflow: auto;
      display: none;

      li {
        color: #0084b4;
        font-size: 1em;
        list-style: none;
        margin-right: 10px;

        img {
          vertical-align: top;
        }
      }

    }

    .date {
      color: #999999;
      margin-top: 10px;
      visibility: visible;

      a {
        color: #999999;
      }
    }

    .image-holder {
      margin-right: 10px;
      margin-bottom: 10px;
    }

    .img {
      width: 100px;
    }

    .img-thumb {
      // width: 150px;
    }

    .logo {
      margin: .5rem 0;
    }

  }

}

.slide {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.backdrop {
  width: 100%;
  height: 100%;
  display: none;

  .animation {
    animation: animation 1s;
    transform: scale3d(1, 1, 1) translate(-50%, -50%);
  }

  .tw .svg {
    width: 100%;
    max-width: 100%;
    display: block;
  }
}

.visible {
  display: block;
}

@keyframes animation {
  0% {
    transform: scale3d(1, 1, 1) translate(-50%, -50%)
  }

  20% {
    transform: scale3d(.5, .5, 8);
  }

  100% {
    transform: scale3d(50, 50, 8) translate(0%, -20%);
  }
}

#desc {
  -webkit-font-smoothing: antialiased;
  color: #FFF;
  background-color: #999;
  padding: .5em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 20px;
  right: 22px;
  z-index: 3;
}

#category {
  font-weight: bold;
  display: inline-block;
  border-bottom: 1px dotted #FFF;
}

#category-select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  width: 100px;
  cursor: pointer;
  position: fixed;
  margin-top: -1px;
  z-index: 3;
}

// twitter
.twitter {
  background: #55acee;

  .tw {
    width: 15%;

    .svg {
      background: #55acee;
      display: block;
    }
  }
}

//bolcom
.bolcom {
  background: #36C;

  .tw {
    width: 20%;

    .svg {
      background: #36C;
      display: block;
    }
  }
}

// bolcomreclames
.bolcomreclames {
  background: #000;

  .tw {
    width: 100%;
  }

  .youtube-player {
    width: 100% !important;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
}

// nunl
.nos {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #000;

  .tw {
    width: 100%;
    height: 100%;
    background-color: #000;
  }

  img {
    display: block;
    width: 100vw;
  }

  .description {
    position: absolute;
    bottom: 0;
    padding: 1em;
    color: #FFF;
    background-color: #000;
  }

}

// Media Queries
@media only screen and (min-width: 600px) {
  .bolcomtemplate.tw {
    .post {
      flex-direction: row;

      .left {
        padding-right: 2em;
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .tw {
    width: 80%;
    font-size: 125%;

    .post {
      .left {
        margin-bottom: 0;
      }

      .img {
        width: 120px;
      }

      .img-thumb {
        // width: 170px;
      }

      .logo {
        position: absolute;
        right: 0;
        top: .5rem;

        img {
          width: 90px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .tw {
    width: 70%;
    font-size: 130%;

    .post {
      .img {
        width: 170px;
      }

      .img-thumb {
        // width: 190px;
      }

      .logo img {
        width: 100px;
      }
    }
  }
}

@media only screen and (min-width: 1500px) {
  .tw {
    width: 40%;
    font-size: 175%;
  }
}