*, *::after, *::before {
  box-sizing: border-box;
}
body, html {
  width: 100vw;
  -webkit-font-smoothing: antialiased;
}

body {
  overflow: hidden;
  background: #FFF;
  margin: 0;
  padding: 0;
  font-family: Open Sans,Arial,Helvetica,sans-serif;
  font-size: .875em;
  line-height: 1.5;
  user-select: none;
}

a {
  color: #000;
  text-decoration: none;
}

.clear {
  clear: both;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}

.swipe-wrap {
  overflow: hidden;
  position: relative;
}

.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

.img-rounded {
  border-radius: 6px;
}

.extended-media {
  padding: 20px;
  max-width: 350px;
  max-height: 200px;
}

.tw {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: arial;
  font-size: 1em;
  background-color: #fff;
  width: 90%;

  .post {
    clear: both;
    padding: 20px;

    .left__block {
      display: inline-block;
      vertical-align: top;
      padding-left: 2em;
      width: 70%;
    }

    .left__block h2 {
      width: 75%;
    }

    .left__block .price {
      font-family: 'ClarendonURW-Med',Georgia,serif;
      font-size: 2em;
      font-weight: normal;
      color: #d12c2a;
      -webkit-font-smoothing: antialiased;
    }

    .left__block .price .price-fraction{
      font-size: 50%;
      vertical-align: 50%;
    }

    h1 {
      color: #333333;
      display: inline-block;
      font-size: 2em;
      font-weight: bold;
      margin: 0;
    }

    h2 {
      color: #333333;
      display: inline-block;
      font-size: 1.475em;
      font-weight: bold;
      margin: 0;
      line-height: 1.4;
    }

    .name {
      float: left;
      .at {
        color: #999999;
        font-size: 1.275em;
        display: block;
      }
    }

    .follow {
      float: right;
      visibility: hidden;
    }

    .message {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #333335;
      font-size: 2em;
      margin: 15px 0 10px 0;
      line-height: 110%;

      a {
        color: #1b95e0;
        text-decoration: none;
      }

      .link {
        color: #0084b4;
      }
    }

    .options {
      padding: 0;
      margin: 0;
      overflow: auto;
      visibility: hidden;

      li {
        color: #0084b4;
        font-size: 1em;
        float: left;
        list-style: none;
        margin-right: 10px;

        img {
          vertical-align: top;
        }
      }

    }

    .date {
      color: #999999;
      margin-top: 10px;
      visibility: visible;
      a {
        color: #999999;
      }
    }

    .left {
      display: inline-block;
    }

    .image-holder {
      float: left;
      margin-right: 10px;
      margin-bottom: 10px;
    }

    .img {
      width: 100px;
    }

    .img-thumb {
     float: left;
     // width: 150px;
   }

   .logo {
     float: right;
   }

  }

}

.slide {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.backdrop {
  width: 100%;
  height: 100%;
  display: none;

  .animation {
    animation: animation 1s;
    transform: scale3d(1,1,1) translate(-50%, -50%);
  }

  .tw .svg {
    width: 100%;
    max-width: 100%;
    display: block;
  }
}

.visible {
  display: block;
}

@keyframes animation {
  0% {
   transform: scale3d(1,1,1) translate(-50%, -50%)
  }
  20% {
    transform: scale3d(.5,.5,8);
  }
  100% {
    transform: scale3d(50,50,8) translate(0%, -20%);
  }
}

// twitter
.twitter {
  background: #55acee;

  .tw  {
    width: 15%;

    .svg {
      background: #55acee;
      display: block;
    }
  }
}

//bolcom
.bolcom {
  background: #36C;

  .tw  {
    width: 20%;

    .svg {
      background: #36C;
      display: block;
    }
  }
}

// bolcomreclames
.bolcomreclames {
  background: #000;

  .tw {
    width: 100%;
  }

  .youtube-player {
    width: 100% !important;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
}

// nunl
.nunl {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #000;

  .tw {
    width: 100%;
    height: 100%;
    background-color: #000;
  }

  img {
    display: block;
    width:100vw;
  }

  .description {
    position: absolute;
    bottom: 0;
    padding: 1em;
    color: #FFF;
    background-color: #000;
  }
}

// Media Queries
@media only screen and (min-width: 768px) {
  .tw {
    width: 80%;
    font-size: 125%;

    .post {
      .img {
        width: 120px;
      }
      .img-thumb {
        // width: 170px;
      }
      .logo img {
        width: 90px;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .tw {
    width: 70%;
    font-size: 130%;

    .post {
      .img {
        width: 170px;
      }

      .img-thumb {
        // width: 190px;
      }

      .logo img {
        width: 100px;
      }
    }
  }
}

@media only screen and (min-width: 1500px) {
  .tw {
    width: 40%;
    font-size: 175%;
  }
}
