*, *::after, *::before {
  box-sizing: border-box;
}
body, html {
  width: 100vw;
  -webkit-font-smoothing: antialiased;
}

body {
  overflow: hidden;
  background: #FFF;
  margin: 0;
  padding: 0;
  font-family: Open Sans,Arial,Helvetica,sans-serif;
  font-size: .875em;
  line-height: 1.5;
  user-select: none;
}

a {
  color: #000;
  text-decoration: none;
}

.clear {
  clear: both;
}


.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

.img-rounded {
  border-radius: 6px;
}
.extended-media {
  padding: 20px;
  max-width: 350px;
  max-height: 200px;
}
.tw {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: arial;
  font-size: 1em;
  background-color: #fff;
  width: 90%;
}

.tw .post .image-holder {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.tw .post .img {
  width: 100px;
}

.tw .post .img-thumb {
  float: left;
  width: 150px;
}

.tw .post .logo {
  float: right;
}

@media only screen and (min-width: 768px) {
  .tw {
    width: 80%;
    font-size: 125%;
  }
  .tw .post .img {
    width: 120px;
  }
  .tw .post .img-thumb {
    width: 170px;
  }
  .tw .post .logo img {
    width: 90px;
  }
}

@media only screen and (min-width: 1024px) {
  .tw {
    width: 70%;
    font-size: 140%;
  }
  .tw .post .img {
    width: 170px;
  }
  .tw .post .img-thumb {
    width: 190px;
  }
  .tw .post .logo img {
    width: 100px;
  }
}

@media only screen and (min-width: 1500px) {
  .tw {
    width: 40%;
    font-size: 175%;
  }
}

.tw .post {
  clear: both;
  padding: 20px;
}

.tw .post .left {
  display: inline-block;
}

.tw .post .left__block {
  display: inline-block;
  vertical-align: top;
  padding-left: 2em;
  width: 70%;
}

.tw .post .left__block h2 {
  width: 75%;
}

.tw .post .left__block .price {
  font-family: 'ClarendonURW-Med',Georgia,serif;
  font-size: 2em;
  font-weight: normal;
  color: #d12c2a;
  -webkit-font-smoothing: antialiased;
}

.tw .post .left__block .price .price-fraction{
  font-size: 50%;
  vertical-align: 50%;
}

.tw .post .name {
  float: left;
}

.tw .post h1 {
  color: #333333;
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}

.tw .post h2 {
  color: #333333;
  display: inline-block;
  font-size: 1.875em;
  font-weight: bold;
  margin: 0;
  line-height: 1.4;
}

.tw .post .name .at {
  color: #999999;
  font-size: 1.275em;
  display: block;
}

.tw .post .follow {
  float: right;
  visibility: hidden;
}

.tw .post .message {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333335;
  font-size: 2em;
  margin: 15px 0 10px 0;
  line-height: 110%;
}

.tw .post .message .link {
  color: #0084b4;
}

.tw .post .message a {
  color: #1b95e0;
  text-decoration: none;
}

.tw .post .options {
  padding: 0;
  margin: 0;
  overflow: auto;
  visibility: hidden;
}

.tw .post .options li {
  color: #0084b4;
  font-size: 1em;
  float: left;
  list-style: none;
  margin-right: 10px;
}

.tw .post .options li img {
  vertical-align: top;
}

.tw .post .date {
  color: #999999;
  margin-top: 10px;
  visibility: visible;
}

.tw .post .date a {
  color: #999999;
}

.slide {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.backdrop {
  width: 100%;
  height: 100%;
  display: none;
}

.twitter {
  background: #55acee;
}

.twitter .tw  {
  width: 15%;
}

.backdrop .tw .svg {
  width: 100%;
  max-width: 100%;
}
.twitter .tw .svg {
  background: #55acee;
}
.visible {
  display: block;
}

.backdrop .animation {
  animation: animation 1s;
  transform: scale3d(1,1,1) translate(-50%, -50%);
}

/* Standard syntax */
@keyframes animation {
  0% {
   transform: scale3d(1,1,1) translate(-50%, -50%)
  }
  20% {
    transform: scale3d(.5,.5,8);
  }
  100% {
    transform: scale3d(50,50,8);
  }
}

.bolcom {
  background: #36C;
}

.bolcom .tw  {
  width: 20%;
}

.bolcom .tw .svg {
  background: #36C;
}
.nunl {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #000;
}
.nunl .tw {
  width: 100%;
  height: 100%;
  background-color: #000;
}
.nunl img {
  display: block;
}
.nunl .description {
  position: absolute;
  bottom: 0;
  padding: 1em;
  color: #FFF;
  background-color: #000;
}
